@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
:root {
  --clr-blue: hsl(219, 73%, 17%);
  --clr-green: hsl(95, 59%, 44%);
  --clr-gray: hsl(40, 14%, 91%);
  --clr-light-gray: hsl(0, 0%, 94%);
  --clr-dark-gray: rgb(211, 211, 211);
  --new-tag: hsl(335, 87%, 48%);
  --txt-main: "Roboto", sans-serif;
}

.bg-main {
  background-color: var(--clr-blue);
}

.title {
  color: var(--clr-blue);
}

.body {
  color: var(--clr-blue);
}

.element {
  color: var(--clr-gray);
}

.White {
  color: #ffffff;
}

.Green {
  color: var(--clr-green);
}

.light-gray {
  color: var(--clr-light-gray);
}

.main-color {
  color: var(--clr-blue);
}

.big-title {
  font-size: 4rem;
}

.title {
  font-size: 2.5rem;
}

.body {
  font-size: 1.4rem;
}

.txtMd {
  font-size: 1.6rem;
}

.txtSm {
  font-size: 1.2rem;
}

.txtLg {
  font-size: 2rem;
}

.txtaction {
  font-size: 1.3rem;
}

.light {
  font-weight: 300;
}

.normal {
  font-weight: normal;
}

.medium {
  font-weight: 500;
}

.semi {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.breadcrumb__container, .header__container {
  padding: 2.3rem 2rem;
}

.capital {
  text-transform: capitalize;
}

.myT-1 {
  margin-top: 1rem;
}

.myT-2 {
  margin-top: 2rem;
}

.myT-3 {
  margin-top: 3rem;
}

.myT-4 {
  margin-top: 4rem;
}

.myT-5 {
  margin-top: 5rem;
}

.myT-6 {
  margin-top: 6rem;
}

.myB-1 {
  margin-bottom: 1rem;
}

.myB-2 {
  margin-bottom: 2rem;
}

.myB-3 {
  margin-bottom: 3rem;
}

.my2 {
  margin: 2rem 0;
}

.my3 {
  margin: 3rem 0;
}

.ml-xsm {
  margin-left: -0.3rem;
}

.mr-sm {
  margin-right: 0.7rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-minus-4 {
  margin-left: -4rem;
}

.mr-auto {
  margin-right: auto;
}

.pyT-0 {
  padding-top: 0rem;
}

.pyT-3 {
  padding-top: 3rem;
}

.pyB-1 {
  padding-bottom: 1rem;
}

.pyB-2 {
  padding-bottom: 2rem;
}

.pyB-3 {
  padding-bottom: 3rem;
}

.pyB-1 {
  padding-bottom: 1rem;
}

.pl-3 {
  padding-left: 4rem;
}

.pr-2 {
  padding-right: 2rem;
}

.p-2 {
  padding: 2rem;
}

.p-sm {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-4 {
  padding: 4rem;
}

.p-6 {
  padding: 6rem;
}

.px-1 {
  padding-inline: 1rem;
}

.px-2 {
  padding-inline: 2rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-sm {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-91 {
  width: 91%;
}

.w-100 {
  width: 100%;
}

.d-grid {
  display: grid;
}

.grid-column-auto3 {
  grid-template-columns: repeat(3, auto);
}

.grid-column-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-column-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-column-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-column-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-column-8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid-column-9 {
  grid-template-columns: repeat(9, 1fr);
}

.grid-column-9-max {
  grid-template-columns: repeat(9, -webkit-max-content);
  grid-template-columns: repeat(9, max-content);
}

.grid-full {
  grid-column: 1/-1;
}

.grid-2-4 {
  grid-column: 2/4;
}

.justify-center {
  justify-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.row-gap-2 {
  row-gap: 2rem;
}

.colgap-1 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.colgap-2 {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.colgap-3 {
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}

.categories {
  width: 100% !important;
}

.transparent {
  background-color: transparent !important;
}

.border-green {
  border: 1px solid var(--clr-green) !important;
}

.border-gray {
  border: 1.5px solid var(--clr-dark-gray);
}

.border-bottom {
  border-bottom: 1.2px solid var(--clr-light-gray);
}

.border-0 {
  border: none !important;
}

.roundedSm {
  border-radius: 0.2rem;
}

.rounded {
  border-radius: 0.4rem;
}

.rounded-3 {
  border-radius: 3px;
}

.rounded-6 {
  border-radius: 6px;
}

.align-self {
  align-self: end;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
}

.center {
  text-align: center;
}

.bg-white {
  background-color: #fff !important;
}

.bg-blue {
  background-color: var(--clr-blue);
}

.bg-light-gray {
  background-color: var(--clr-light-gray);
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.row-gap-2 {
  row-gap: 2rem;
}

.w-small {
  width: 1.4rem;
}

.w-1 {
  width: 1.5rem;
}

.w-2 {
  width: 2rem;
}

.w-3 {
  width: 3rem;
}

.w-6 {
  width: 6rem;
}

.w-7 {
  width: 7rem;
}

.w-32 {
  width: 32%;
}

.w-46 {
  width: 46%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

.w-24rem {
  width: 24rem;
}

.w-33rem {
  width: 33rem;
}

.w-85rem {
  width: 85%;
}

.h-15 {
  height: 15rem;
}

.h-60vh {
  height: 60vh;
}

.h-02 {
  height: 0.2rem;
}

.bottom-14 {
  bottom: 14rem;
}

.bottom-70 {
  bottom: 7rem;
}

.link-info {
  color: var(--clr-green);
}

.shadow-action {
  box-shadow: -2px 1rem 7rem 0px rgba(0, 0, 0, 0.28);
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.nodecoration {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.z-index-100 {
  z-index: 100;
}

.hidden {
  display: none !important;
}

.active-btn,
.active-tab {
  background-color: var(--clr-blue) !important;
  color: #fff !important;
}

.outline-0 {
  outline: 0;
}

.rightXl {
  right: -15rem;
}

.pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.unactive {
  background-color: #fff;
  color: var(--clr-dark-gray);
  border: 1px solid var(--clr-dark-gray);
}

.checked {
  background-color: var(--clr-blue);
  color: #fff;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}

.active {
  background-color: var(--clr-blue) !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
}

.line-height-25 {
  line-height: 2.5rem;
}

.carret,
.carret-down {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 0.7rem;
  right: -1.2rem;
  width: 0.8rem;
  height: 0.8rem;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: right;
}

.no-wrap {
  white-space: nowrap;
}

.left-3 {
  left: 0.3rem;
}

.top-36 {
  top: 3.6rem;
}

.transition-ease {
  transition: all 0.2s ease;
}

.line-break {
  line-break: anywhere;
}

.translateY-3rem {
  transform: translateY(-3rem);
}

.no-resize {
  resize: none;
}

.border-box {
  box-sizing: border-box;
}

.text-left {
  text-align: left;
}

.opacity-0 {
  opacity: 0;
}

.visible {
  top: 3.7rem !important;
  visibility: visible !important;
  opacity: 1 !important;
}

textarea::-moz-placeholder {
  color: #333 !important;
}

textarea:-ms-input-placeholder {
  color: #333 !important;
}

textarea::placeholder {
  color: #333 !important;
}

@-webkit-keyframes fadeIn {
  0% {
    transform: translateY(-1rem);
  }
  10% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(-1rem);
  }
  10% {
    transform: translateY(0);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--txt-main);
  background-color: var(--clr-light-gray);
}

.wrapped {
  margin: 3rem auto;
  background-color: #fff;
  width: 90%;
  border-radius: 0.5rem;
  overflow: hidden;
  padding-bottom: 3rem;
}

.header {
  background-color: #fff;
}
.header__container {
  display: grid;
  grid-template-columns: -webkit-min-content auto auto;
  grid-template-columns: min-content auto auto;
  align-items: center;
}
.header__container form:nth-child(2) {
  margin-left: 4rem;
}
.header__container *:nth-child(3) {
  justify-self: end;
}
.header__logo {
  width: 15rem;
  height: 3rem;
  cursor: pointer;
}
.header__logo img {
  width: inherit;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__menu {
  display: flex;
}
.header__quick-link {
  display: flex;
  margin-right: 2rem;
  position: relative;
  padding: 0.3rem 0;
}
.header__quick-link > * {
  margin-right: 2rem;
}
.header__quick-link::after {
  content: "";
  width: 0.4px;
  height: 100%;
  background-color: var(--clr-dark-gray);
  position: absolute;
  top: 0;
  right: 0;
}
.header__link {
  display: flex;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}
.header__link--icon {
  width: 1.3rem;
  margin-right: 0.7rem;
}
.header__menu {
  list-style: none;
}
.header__item {
  margin-right: 2rem;
}
.header__icon-menu {
  width: 1.9rem;
  height: 2.8px;
  background-color: transparent;
  background-color: var(--clr-blue);
  position: relative;
  cursor: pointer;
  margin-left: 1rem;
}
.header__icon-menu::before, .header__icon-menu::after {
  content: "";
  width: 1.9rem;
  height: 2.8px;
  background-color: transparent;
  background-color: var(--clr-blue);
  position: absolute;
}
.header__icon-menu::before {
  top: 6px;
}
.header__icon-menu::after {
  top: -6px;
}

.content {
  display: flex;
  padding: 3rem;
}
.content__input {
  display: none;
}
.content .list {
  display: flex;
  flex-direction: column;
  width: 26%;
}
.content .list label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  padding-bottom: 1rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--clr-light-gray);
  cursor: pointer;
}
.content .information {
  width: 84%;
  padding-inline: 4rem;
}
.content .information .content-text {
  display: none;
}
.content .user {
  display: block;
}

#user:checked ~ .list label.user,
#address:checked ~ .list label.address,
#account:checked ~ .list label.account,
#package:checked ~ .list label.package,
#commodities:checked ~ .list label.commodities,
#importer:checked ~ .list label.importer,
#email:checked ~ .list label.email,
#admin:checked ~ .list label.admin,
#user-list:checked ~ .list label.user-list,
#description:checked ~ .list label.description,
#batch:checked ~ .list label.batch,
#signature:checked ~ .list label.signature,
#print:checked ~ .list label.print,
#profile:checked ~ .list label.profile,
#payment:checked ~ .list label.payment {
  color: var(--clr-green);
  border-bottom: 2px solid var(--clr-green);
}

#user:checked ~ .information .user,
#address:checked ~ .information .address,
#account:checked ~ .information .account,
#package:checked ~ .information .package,
#commodities:checked ~ .information .commodities,
#importer:checked ~ .information .importer,
#email:checked ~ .information .email,
#admin:checked ~ .information .admin,
#user-list:checked ~ .information .user-list,
#description:checked ~ .information .description,
#batch:checked ~ .information .batch,
#signature:checked ~ .information .signature,
#print:checked ~ .information .print,
#profile:checked ~ .information .profile,
#payment:checked ~ .information .payment {
  -webkit-animation: fadeIn 4s;
          animation: fadeIn 4s;
  display: block;
}

#address:checked ~ .information .user,
#account:checked ~ .information .user,
#package:checked ~ .information .user,
#commodities:checked ~ .information .user,
#importer:checked ~ .information .user,
#email:checked ~ .information .user,
#admin:checked ~ .information .user,
#user-list:checked ~ .information .user,
#description:checked ~ .information .user,
#batch:checked ~ .information .user,
#signature:checked ~ .information .user,
#print:checked ~ .information .user,
#profile:checked ~ .information .user,
#payment:checked ~ .information .user {
  display: none;
}

.user-settings .form__field {
  margin-top: 2rem;
  width: 35.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.user-settings .form__field .input {
  outline: 0;
}
.user-settings .form__field .input::-moz-placeholder {
  text-transform: capitalize;
  opacity: 0.6;
}
.user-settings .form__field .input:-ms-input-placeholder {
  text-transform: capitalize;
  opacity: 0.6;
}
.user-settings .form__field .input::placeholder {
  text-transform: capitalize;
  opacity: 0.6;
}

.account__settings .form__field {
  margin-top: 2rem;
  width: 35.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.account__settings .form__field .input {
  outline: 0;
}
.account__settings .form__field .input::-moz-placeholder {
  text-transform: capitalize;
  opacity: 0.6;
}
.account__settings .form__field .input:-ms-input-placeholder {
  text-transform: capitalize;
  opacity: 0.6;
}
.account__settings .form__field .input::placeholder {
  text-transform: capitalize;
  opacity: 0.6;
}

.field__add .input:focus ~ .field__add__options {
  display: flex !important;
}
.field__add__options {
  display: none !important;
}

.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.popup__overlay {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.26);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__container {
  width: 80rem;
  background-color: #fff;
  border-radius: 4px;
}

.search {
  width: 40%;
}
.search__box {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: 0 1.4rem;
  width: 100%;
  border-radius: 3px;
}
.search__input {
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 1.2rem 0 1.2rem 1.2rem;
  width: 100%;
  font-family: var(--txt-main);
  color: inherit;
}
.search__input::-moz-placeholder {
  color: var(--clr-blue);
  text-transform: capitalize;
  font-family: inherit;
}
.search__input:-ms-input-placeholder {
  color: var(--clr-blue);
  text-transform: capitalize;
  font-family: inherit;
}
.search__input::placeholder {
  color: var(--clr-blue);
  text-transform: capitalize;
  font-family: inherit;
}
.search__btn {
  background-color: transparent;
  outline: 0;
  border: 0;
  width: 2rem;
  height: 4rem;
  cursor: pointer;
}
.search__btn--icon {
  width: 1.4rem;
}
.search .search__box {
  background-color: var(--clr-light-gray);
}

.search-content {
  width: 40%;
  width: 100%;
}
.search-content__box {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: 0 1.4rem;
  width: 100%;
  border-radius: 3px;
}
.search-content__input {
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 1.2rem 0 1.2rem 1.2rem;
  width: 100%;
  font-family: var(--txt-main);
  color: inherit;
}
.search-content__input::-moz-placeholder {
  color: var(--clr-blue);
  text-transform: capitalize;
  font-family: inherit;
}
.search-content__input:-ms-input-placeholder {
  color: var(--clr-blue);
  text-transform: capitalize;
  font-family: inherit;
}
.search-content__input::placeholder {
  color: var(--clr-blue);
  text-transform: capitalize;
  font-family: inherit;
}
.search-content__btn {
  background-color: transparent;
  outline: 0;
  border: 0;
  width: 2rem;
  height: 4rem;
  cursor: pointer;
}
.search-content__btn--icon {
  width: 1.4rem;
}
.search-content .search__box {
  background-color: #ffffff;
}
.search-content .search__box input[type=search]::-moz-placeholder {
  font-size: 1.6rem;
}
.search-content .search__box input[type=search]:-ms-input-placeholder {
  font-size: 1.6rem;
}
.search-content .search__box input[type=search]::placeholder {
  font-size: 1.6rem;
}

.breadcrumb {
  background-color: var(--clr-blue);
}
.breadcrumb__container {
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 0.7px;
  font-weight: 300;
}

.checkbox {
  width: 100%;
}
.checkbox .check + label {
  cursor: pointer;
  position: relative;
  margin-left: 3rem;
}
.checkbox .check + label:before {
  content: "✔";
  border: 0.1rem solid var(--clr-dark-gray);
  border-radius: 0.1rem;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  position: absolute;
  color: transparent;
}
.checkbox .check {
  display: none;
}
.checkbox .check:checked + label:before {
  background-color: var(--clr-blue);
  color: #fff;
  border: 0;
}
.checkbox .items {
  color: var(--clr-dark-gray);
}

.checkboxes {
  width: 100%;
}
.checkboxes .checks + label {
  cursor: pointer;
  position: relative;
  margin-left: 3rem;
}
.checkboxes .checks + label:before {
  content: "✔";
  border: 0.1rem solid var(--clr-dark-gray);
  border-radius: 0.1rem;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  position: absolute;
  color: transparent;
}
.checkboxes .checks {
  display: none;
}
.checkboxes .checks:checked + label:before {
  background-color: var(--clr-blue);
  color: #fff;
  border: 0;
}

.post {
  display: grid;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  cursor: pointer;
  padding-bottom: 2.8rem;
  border-bottom: 2px solid var(--clr-light-gray);
}
.post__image {
  width: 25rem;
  height: 15rem;
}
.post__image--img {
  width: 25rem;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.post__text {
  display: grid;
  justify-items: start;
  align-items: start;
}
.post__text__tag {
  text-transform: capitalize;
  color: var(--clr-green);
}
.post__text__tag--new {
  color: #fff;
  background-color: var(--new-tag);
  padding: 0.1rem 0.4rem;
  border-radius: 0.2rem;
}
.post__text__CTA {
  display: flex;
}
.post__text__time {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.post__text__time--icon {
  width: 2.2rem;
  margin-right: 0.5rem;
}
.post__text__time--minute {
  transform: translateY(2px);
}

button.save {
  border: 0;
  color: #fff;
  border-radius: 3px;
  padding: 1.1rem;
  text-transform: capitalize;
  outline: 0;
  transition: opacity 0.2s;
  background-color: var(--clr-green);
}
button.save:hover {
  opacity: 0.9;
  cursor: pointer;
}
button.save img {
  width: 1.4rem;
  margin-right: 0.7rem;
}

button.cancel {
  border: 0;
  color: #fff;
  border-radius: 3px;
  padding: 1.1rem;
  text-transform: capitalize;
  outline: 0;
  transition: opacity 0.2s;
  background-color: transparent;
  border: 2px solid var(--clr-light-gray);
  color: inherit;
}
button.cancel:hover {
  opacity: 0.9;
  cursor: pointer;
}

button.outline {
  border: 0;
  color: #fff;
  border-radius: 3px;
  padding: 1.1rem;
  text-transform: capitalize;
  outline: 0;
  transition: opacity 0.2s;
  background-color: transparent;
  border: 1.5px solid var(--clr-dark-gray);
  color: inherit;
  font-weight: 600;
}
button.outline:hover {
  opacity: 0.9;
  cursor: pointer;
}

button.action {
  border: 0;
  color: #fff;
  border-radius: 3px;
  padding: 1.1rem;
  text-transform: capitalize;
  outline: 0;
  transition: opacity 0.2s;
  background-color: transparent;
  border: 1.5px solid var(--clr-dark-gray);
  color: inherit;
  font-weight: 600;
  padding: 0.4rem 0.5rem;
  border-radius: 5px;
}
button.action:hover {
  opacity: 0.9;
  cursor: pointer;
}

.btn-profile {
  border: 0;
  color: #fff;
  border-radius: 3px;
  padding: 1.1rem;
  text-transform: capitalize;
  outline: 0;
  transition: opacity 0.2s;
  border: 1.5px solid var(--clr-light-gray);
  color: var(--clr-dark-gray);
  font-weight: 400;
  font-size: 1.4rem;
  background-color: #fff;
  font-family: inherit;
}
.btn-profile:hover {
  opacity: 0.9;
  cursor: pointer;
}

button.add-carrier {
  border: 0;
  color: #fff;
  border-radius: 3px;
  padding: 1.1rem;
  text-transform: capitalize;
  outline: 0;
  transition: opacity 0.2s;
  background-color: var(--clr-blue);
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
}
button.add-carrier:hover {
  opacity: 0.9;
  cursor: pointer;
}

.button-email {
  border: 0;
  color: #fff;
  border-radius: 3px;
  padding: 1.1rem;
  text-transform: capitalize;
  outline: 0;
  transition: opacity 0.2s;
  border: 1.5px solid var(--clr-light-gray);
  color: inherit;
  font-weight: 600;
  font-size: 1.6rem;
}
.button-email:hover {
  opacity: 0.9;
  cursor: pointer;
}

.tooltip {
  position: relative;
  cursor: pointer;
  font-size: 1.3rem;
}
.tooltip:hover .tooltip__text {
  visibility: visible;
  opacity: 1;
  top: -4.7rem;
  transition: all 0.2s ease;
}
.tooltip__text {
  position: absolute;
  top: -3.7rem;
  left: 3rem;
  width: 26rem;
  background-color: var(--clr-light-gray);
  padding: 2rem;
  line-height: 1.7rem;
  border-radius: 0.5rem;
  box-shadow: -2px 1rem 4rem 0px rgba(0, 0, 0, 0.048);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}
.tooltip__text::before {
  content: "";
  position: absolute;
  display: inline-block;
  margin-right: 1rem;
  border: solid 1rem transparent;
  border-right-color: var(--clr-light-gray);
  left: -2rem;
  top: 4.8rem;
}

.payments__cards .payment__card {
  width: 84%;
  padding-inline: 2rem;
  border-radius: 0.7rem;
  border: 1px solid var(--clr-dark-gray);
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: -webkit-min-content repeat(3, 1fr);
  grid-template-columns: min-content repeat(3, 1fr);
  margin-bottom: 2rem;
}
.payments__cards .payment__card__check {
  padding-right: 2rem;
  display: flex;
  align-items: center;
  position: relative;
  border-right: 1px solid var(--clr-dark-gray);
  height: 100%;
}
.payments__cards .payment__card__number {
  padding: 2rem 0;
  justify-self: start;
  margin-left: 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
}
.payments__cards .payment__card__text {
  margin-top: 2rem;
}
.payments__cards .payment__card__details {
  gap: 2rem;
}
.payments__cards .payment__card__details > * {
  display: flex;
  flex-direction: column;
}
.payments__cards .payment__card__details label {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}
.payments__cards .payment__card__details input {
  margin-top: 1rem;
  padding: 1rem;
  background-color: transparent;
  outline: none;
  border-radius: 3px;
  border: 1px solid var(--clr-dark-gray);
}
.payments__cards .payment__card__buttons {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-self: end;
}
.payments__cards .payment__card__buttons > *:not(:last-child) {
  margin-bottom: 1rem;
}
.payments__cards .payment__card__buttons button {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600 !important;
  border: none;
  background-color: transparent;
}
.payments__cards .payment__card__buttons button img {
  margin-right: 0.5rem;
  width: 1.5rem;
}

.pages__entries {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  text-transform: capitalize;
}
.pages__entries button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: transparent;
  background-color: #fff;
  border: 2px solid var(--clr-dark-gray);
  border-radius: 3px;
  outline: 0;
}
.pages__entries button svg {
  width: 2rem;
  margin-left: 0.6rem;
}
.pages__entries__show {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.pages__entries__show__list {
  position: absolute;
  top: 2.7rem;
  left: 47%;
  transform: translateX(-50%);
  padding: 1rem 2.4rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 2.3rem;
  box-shadow: -2px 1rem 7rem 0px rgba(0, 0, 0, 0.16);
  transition: all 0.2s ease;
  visibility: hidden;
  opacity: 0;
}
.pages__entries__show__list--link {
  text-decoration: none;
  color: inherit;
}
.pages__entries__show__list--link:not(:last-child) {
  margin-bottom: 1rem;
}
.pages__entries__nav {
  display: flex;
  flex-direction: row;
}
.pages__entries__nav .active-entries {
  background-color: var(--clr-green);
  color: #fff;
  border-color: var(--clr-green);
}
.pages__entries__showing span {
  color: var(--clr-green);
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */